.main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0B101B;
    color: aliceblue;

}

.h1{
    font-size: 3.3rem;
    margin: 30px 0;
    background-image: linear-gradient(45deg, #144EE3, #EB568E 19%, #A353AA 64%, #144EE3 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: 800;
}
.p{
    font-size: 1.2rem;
   margin: 10px 5px;
   text-align: center;
   font-weight: 600;

}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    position: relative;
    width: 65%;
    height: 70px;
    background-color: #181E29;
    border-radius: 50px;
    border: 3px solid #353C4A;
    
   
    
}
.mobile{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.input1{
   margin: 0;
   width: 100%;
   background: none;
   padding: 1rem 1rem;
   outline: 0;
   border-top: none;
   border-bottom: none;
   border-left: none;
   border-right: 2px solid #353C4A;
   color: aliceblue;
   font-size: 15px;
   transition: 0.1s ease;
}
.input2{
    margin: 0;
    width: 55%;
    background: none;
    padding: 1rem 1rem;
    outline: 0;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    color: aliceblue;
    font-size: 15px;
    
 }

 
.button{
    width: 8rem;
    height: 3.5rem;
    position: absolute;
    right: 3px;
    border-radius: 50px;
    background-color: #144EE3;
    outline: none;
    border: none;
    padding: auto;
    color: aliceblue;
    cursor: pointer;
    font-size: 15px;
   
  
}
.button:hover{
  background-image: linear-gradient(45deg, #144EE3, #EB568E 19%, #A353AA 64%, #144EE3 100%);
  
}

.image1{
width: 30px;
height: 30px;
position: relative;
margin-left: 20px;
background: url('../enlace.png') no-repeat center;
    background-size: cover;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
}

.image2{
width: 30px;
height: 30px;
position: relative;
margin-left: 20px;
color: aliceblue;
background: url('../custom.png') no-repeat center;
    background-size: cover;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}
.image3{
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    
    
    
    }
    
    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .table {
        width: 100%;
        margin: 20px 0;
        border-radius: 100px;
        border-collapse: collapse ;
      }
      
      .table th, .table td {
       text-align: start;
        padding: 20px;
        /* 0B101B */
    
      }
      
      .table thead{
        background-color: #181E29;
       
       
      }
      .table tbody{
        background-color: #181e292d;
        border: 3px #353C4A;
        
         
      }
      
      .table tr:nth-child(even) {
        background-color: #0055ff;
      }
    
    
    
    
      /* Enable hover only on non-touch devices */
    @media (hover: hover) and (pointer: fine) {
        .card:hover {
          background: rgba(var(--card-rgb), 0.1);
          border: 1px solid rgba(var(--card-border-rgb), 0.15);
        }
      
        .card:hover span {
          transform: translateX(4px);
        }
      }
      
      @media (prefers-reduced-motion) {
        .card:hover span {
          transform: none;
        }
      }
      
      /* Mobile */
      @media (max-width: 700px) {
        
        .h1{
            font-size: 2.2rem;
            margin: 30px 5px;
            text-align: center;
        
        }
        .p{
            font-size: 1rem;
           margin: 10px 0;
           text-align: center;
        }
    
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            position: relative;
            width: 95%;
            height: 250px;
            background-color: transparent;
            border-radius: 0;
            border: none;
            flex-direction: column;
           
            
        }
        .input1{
           margin: 5px 0;
           width: 100%;
           height: 50px;
           background: none;
           padding: 1rem 1rem;
           outline: 0;
           font-size: 17px;
           color: aliceblue;
           border: none;
        }
        .input2{
            margin: 5px 0;
            width: 100%;
            height: 50px;
            background: none;
            padding: 1rem 1rem;
            outline: 0;
            color: aliceblue;
            font-size: 17px;
          
            
         }
        .button{
            width: 10rem;
            height: 50px;
            position: relative;
            margin: 5px 0;
            font-size: 17px;
         
            
          
        }
        .mobile{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 70px;
            border-radius: 50px;
            border: 3px solid #353C4A;
            background-color: #181E29;
            margin: 5px 0;
        }
    
        .container1{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }
        .table {
            width: 100%;
            margin: 20px 0;
            border-radius: 100px;
            border-collapse: collapse ;
          }
        .tabmobile{
            display: none;
        }
    
    
      }
      
      /* Tablet and Smaller Desktop */
      @media (min-width: 701px) and (max-width: 1120px) {
        .h1{
            font-size: 3rem;
            margin: 30px 0;
       
        }
        .p{
            font-size: 1.1rem;
           margin: 10px 0;
        }
    
        .form{
            width: 90%;
            height: 70px;
            margin: 30px 0;
           
            
           
            
        }
    
        .button{
            width: 15%;
            height: 3.5rem;
            
          
        }
        

      
      }
      
    
      